body {
    font-family: 'Arial', sans-serif;
}

/*해더*/
header {
    background-color: #FFF3D6;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*푸터*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FFF3D6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 3px solid #FFAA00;
}

footer a {
    text-align: center;
    color: #FFCD00;
}

footer img {
    width: 30px;
    height: 30px;
}

footer .plus-btn {
    position: relative;
    bottom: 20px;
    width: 60px;
    height: 60px;
    background-color: #FFCD00;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 로고 */
.logo {
    display: block;
    margin: 50px auto 20px auto;
    width: 150px;
    height: 150px;
}

/* 쳇메인 카톡로그인 & 아이들 로그인 */
.login-buttons {
    text-align: center;
    margin-top: 20px;
}

.login-buttons button {
    width: 90%;
    height: 50px;
    font-size: 18px;
    margin-bottom: 15px;
    border-radius: 25px;
}

.kakao-login {
    background-color: #FFCD00;
    color: #000;
}

.kids-login {
    background-color: #EDEDED;
    color: #000;
}

.footer-text {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    color: #7F7F7F;
}