{% extends 'webs/base_children.html' %}

{% load static %}

{% block title %}모아모아 :: 똑똑한 용돈 관리 습관{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'webs/css/chatbot.css' %}">
<div class="chat-container">
  <div class="chat-history" id="chat-history"></div>
  <div class="chat-input-container" id="chat-input-container">
    <input type="hidden" id="childPk" value="{{ child_pk }}">
    <input type="hidden" id="userId" value="{{ user_id }}">
    <input type="text" id="chat-input" placeholder="메시지를 입력하세요...">
    <button id="send-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="22" y1="2" x2="11" y2="13"></line>
        <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
      </svg>
    </button>
  </div>
</div>
{% endblock %}
{% block extra_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.10/purify.min.js"></script>
<script>
  const chatHistory = document.getElementById('chat-history');
  const chatInput = document.getElementById('chat-input');
  const sendButton = document.getElementById('send-button');

  function getChildPkFromUrl() {
    const pathSegments = window.location.pathname.split('/');
    return pathSegments[pathSegments.length - 2];
  }

  function formatTimestamp(timestamp) {
    const date = new Date(timestamp);
    return date.toLocaleString('ko-KR', { hour: '2-digit', minute: '2-digit' });
  }

  function loadChatHistory() {
    const childPk = getChildPkFromUrl();
    fetch(`/api/v1/diary/chat/messages/${childPk}/`, {
      method: 'GET',
      credentials: 'include',
      headers: {
        'Content-Type': 'application/json',
      },
    })
      .then(response => {
        if (response.status === 401) {  // 401 Unauthorized 상태 확인
          window.location.href = '/login/';  // 로그인 페이지로 리다이렉트
          return;
        }
        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response.json();
      })
      .then(data => {
        chatHistory.innerHTML = '';
  
        if (data && Array.isArray(data.response)) {
          data.response.forEach(message => {
            const messageContainer = document.createElement('div');
            messageContainer.classList.add('message-container');
            messageContainer.classList.add(message.type === 'USER' ? 'chat-right' : 'chat-left');
  
            const usernameElement = document.createElement('div');
            usernameElement.classList.add('chat-username');
  
            // 프로필 이미지 추가 부분
            const profileImage = document.createElement('img');
            profileImage.src = message.user_profile_image || message.ai_profile_image; // 기본 이미지 설정
            profileImage.alt = 'Profile';
            profileImage.classList.add('profile-image'); // CSS로 동그랗게 만들기 위해 클래스 추가
  
            // 이미지와 이름을 함께 추가
            usernameElement.appendChild(profileImage);
            usernameElement.appendChild(document.createTextNode(message.type === 'USER' ? message.username : message.ai_name));
  
            const messageElement = document.createElement('div');
            messageElement.classList.add('chat-bubble');
  
            // 메시지 내용 처리
            function decodeHTMLEntities(text) {
              const textArea = document.createElement('textarea');
              textArea.innerHTML = text;
              return textArea.value;
            }
            let decodedContent = decodeHTMLEntities(message.content);
            const jsonBlockRegex = /```json[\s\S]*?```/g;
            decodedContent = decodedContent.replace(jsonBlockRegex, '용돈기입장에 성공적으로 저장되었어요!😀');
  
            let formattedContent = decodedContent.trim();
            if (formattedContent) {
              formattedContent = formattedContent
                .replace(/\n\n/g, '<br>')
                .replace(/\n/g, '<br>')
                .replace(/---/g, '')
                .replace(/\"1\./g, '<br>1.')
                .replace(/\"2\./g, '<br>2.')
                .replace(/\"/g, "")
                .replace(/\*\*(.+?)\*\*/g, '<strong>$1</strong>')
                .replace(/1\. 네 (또는|아니면)/g, '1. 네')
                .trim();
  
              const sanitizeConfig = {
                ALLOWED_TAGS: ['br', 'strong'],
                KEEP_CONTENT: true
              };
  
              const sanitizedContent = DOMPurify.sanitize(formattedContent, sanitizeConfig);
  
              messageElement.innerHTML = sanitizedContent;
  
              const timestampElement = document.createElement('div');
              timestampElement.classList.add('timestamp');
              timestampElement.textContent = formatTimestamp(message.timestamp);
  
              messageContainer.appendChild(usernameElement);
              messageContainer.appendChild(messageElement);
              messageContainer.appendChild(timestampElement);
              chatHistory.appendChild(messageContainer);
            }
          });
          chatHistory.scrollTop = chatHistory.scrollHeight;
        } else {
          console.error('Expected an array in `data.response` but got:', data.response);
        }
      })
      .catch(error => {
        console.error('Fetch error:', error);
      });
  }

  function sendMessage() {
    const message = chatInput.value.trim();
    if (message) {
      const childPk = getChildPkFromUrl();
      fetch('/api/v1/diary/chat/', {
        credentials: 'include',
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ message: message, child_pk: childPk })
      })
        .then(response => response.json())
        .then(data => {
          chatInput.value = '';
          loadChatHistory();
        })
        .catch(error => console.error('Error:', error));
    }
  }

  document.addEventListener('DOMContentLoaded', function () {
    sendButton.addEventListener('click', sendMessage);
    chatInput.addEventListener('keypress', function (e) {
      if (e.key === 'Enter') {
        sendMessage();
      }
    });

    loadChatHistory();
    setInterval(loadChatHistory, 5000);
  });

  function adjustChatHistoryHeight() {
    const chatInputContainer = document.getElementById('chat-input-container');
    const chatHistory = document.getElementById('chat-history');
    const chatInputHeight = chatInputContainer.offsetHeight;
    chatHistory.style.height = `calc(100vh - ${chatInputHeight}px - 60px)`; // 60px는 모아모아 배너 높이
  }

  window.addEventListener('load', adjustChatHistoryHeight);
  window.addEventListener('resize', adjustChatHistoryHeight);
</script>
{% endblock %}