{% extends 'webs/base.html' %}

{% load static %}

{% block title %}모아모아 - 키즈 로그인{% endblock %}

{% block content %}
    <header>
      <style>
      .logo { width: 180px; margin: 30px auto; display: block; }
      .login-form { text-align: center; margin-top: 20px; }
      .login-form input { width: 90%; height: 50px; font-size: 16px; margin-bottom: 15px; border-radius: 25px; border: 2px solid #6D9C48; padding: 10px; }
      .login-button { background-color: #FFCD00; color: white;border: none; width: 90%; height: 50px; font-size: 18px; border-radius: 25px; }
      </style>
    </header>
    <div class="container content">
        <div class="login-form">
            <h2>키즈 로그인</h2>
            <input type="text" placeholder="키즈 아이디">
            <input type="password" placeholder="키즈 비밀번호">
            <button class="btn login-button">로그인</button>
        </div>
    </div>

    <script type="module">
        import { HeaderFunc } from './module.js';
        document.addEventListener('DOMContentLoaded', function() {
            const headerElement = document.querySelector('header');
            if (headerElement) {
                headerElement.innerHTML = HeaderFunc();
            }
        });
    </script>
{% endblock %}