{% extends 'webs/base.html' %}

{% block title %}Parent Dashboard{% endblock %}

{% block content %}
    <header></header>
    <div class="container">
        <div class="greeting">
            <p>안녕하세요.<br><span class="partner_first_name">홍길동</span> 님의 부모님!</p>
        </div>
        <div class="card-container"></div>
        <div class="card-container card-children" style="display: none;">
            <div class="row g-5">
                <div class="col-12">
                    <label for="firstName" class="form-label">닉네임</label>
                    <input type="text" class="form-control firstname" id="firstname" placeholder="닉네임" required="">
                    <span class="text-danger text-danger-firstname"></span>
                </div>
                <div class="col-12">
                    <label for="username" class="form-label">아이디</label>
                    <input type="text" class="form-control username" id="username" placeholder="아이디" required="">
                    <span class="text-danger text-danger-username"></span>
                </div>
                <div class="col-12">
                    <label for="email" class="form-label">이메일</label>
                    <input type="email" class="form-control email" id="email" placeholder="you@example.com">
                    <span class="text-danger text-danger-email"></span>
                </div>
                <div class="col-12">
                    <label for="password" class="form-label">패스워드</label>
                    <input type="text" class="form-control password" id="password" placeholder="you@example.com">
                    <span class="text-danger text-danger-password"></span>
                </div>
                <div class="col-12">
                    <label for="password2" class="form-label">패스워드(확인)</label>
                    <input type="text" class="form-control password2" id="password2" placeholder="you@example.com">
                    <span class="text-danger text-danger-password2"></span>
                </div>
                <button class="w-100 btn btn-primary btn-lg btn-children">등록</button>
            </div>
        </div>
    </div>

    <footer></footer>
{% endblock %}