{% extends 'webs/base.html' %}

{% load static %}

{% block title %}모아모아 - 부모 프로필{% endblock %}

{% block content %}

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <!-- jQuery와 jQuery UI 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

    <!-- 년월 선택 입력 필드 -->
    <!-- jQuery와 jQuery UI 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>


    <script>

        function diaries_monthlysummary(id, y, m) {

            fetch(`http://localhost:8000/api/v1/diary/monthly/${id}/`, {
                method: 'POST',
                credentials: 'include',  // 쿠키를 포함하여 요청
                headers: {'Content-Type': 'application/json',},
                body: JSON.stringify({year: y, month: m})  // 데이터를 JSON 문자열로 변환하여 전송
            }).then(response => {
                if (response.ok) {
                    return response.json();  // 응답이 성공적이면 JSON으로 변환
                } else {

                    document.querySelector('.spending-summary').textContent = '데이터 없음';
                    document.querySelector('.evaluation').style.display = 'none';

                    return response.json().then(errorData => {
                        // 상태 코드와 에러 메시지를 콘솔에 출력
                        console.error(`Error: ${response.status} - ${response.statusText}`);
                        console.error('Error Data:', errorData);
                        throw new Error('Error occurred while posting data');
                    });
                }
            }).then(data => {

                let jsonString = data.content;
                let jsonMatch = jsonString.match(/```json\\n([\s\S]*?)\\n```/);

                if (jsonMatch && jsonMatch[1]) {

                    let jsonString = jsonMatch[1];

                    // 이제 다음과 같은 이스케이프된 문자를 정리
                    jsonString = jsonString.replace(/\\n/g, '');

                    // 추출된 JSON 문자열을 구문 분석
                    try {
                        let parsedData = JSON.parse(jsonString);
                        console.log(parsedData);

                        document.querySelector('.totalincome').textContent = parsedData.총_수입.toLocaleString('ko-KR'); //총 수입
                        document.querySelector('.totalexpenses').textContent = parsedData.총_지출.toLocaleString('ko-KR'); //총 지출
                        document.querySelector('.remainingamount').textContent = parsedData.남은_금액.toLocaleString('ko-KR'); //남은 금액
                        document.querySelector('.maximumconsumption').textContent = parsedData.가장_많이_지출한_카테고리; //이번 달 최대 소비
                        document.querySelector('.evaluationmsg').textContent = parsedData.개선을_위한_조언 + '\n' + parsedData.지출_패턴_평가; //이번 달 최대 소비


                        console.log(parsedData.카테고리별_지출)
                        const categoryExpenses = parsedData.카테고리별_지출;

                        // 문자열을 숫자로 변환
                        const parsedCategoryExpenses = Object.fromEntries(
                            Object.entries(categoryExpenses).map(([key, value]) => [key, parseFloat(value)])
                        );

                        // 차트를 그릴 부모 요소의 크기 가져오기
                        const chartContainer = document.getElementById('pie-chart');
                        const width = chartContainer.clientWidth;  // 부모 요소의 너비
                        const height = width;  // 반응형으로 높이도 너비와 동일하게 설정
                        const margin = 40;

                        const radius = Math.min(width, height) / 2 - margin;

                        // SVG 요소 추가
                        const svg = d3.select("#pie-chart")
                            .append("svg")
                            .attr("viewBox", `0 0 ${width} ${height}`)  // 반응형 크기 조정
                            .append("g")
                            .attr("transform", `translate(${width / 2}, ${height / 2})`);

                        // 색상 팔레트 설정
                        const color = d3.scaleOrdinal()
                            .domain(Object.keys(parsedCategoryExpenses))
                            .range(d3.schemeSet2);

                        // 파이 차트 데이터 생성
                        const pie = d3.pie()
                            .value(d => d[1]);

                        const data_ready = pie(Object.entries(parsedCategoryExpenses));

                        // 파이 차트 그리기
                        svg.selectAll('whatever')
                            .data(data_ready)
                            .join('path')
                            .attr('d', d3.arc()
                                .innerRadius(0)
                                .outerRadius(radius)
                            )
                            .attr('fill', d => color(d.data[0]))
                            .attr("stroke", "white")
                            .style("stroke-width", "2px")
                            .style("opacity", 0.7);

                        // 레이블 추가
                        svg.selectAll('text')
                            .data(data_ready)
                            .join('text')
                            .text(d => `${d.data[0]}: ${d.data[1].toLocaleString()}원`)
                            .attr("transform", d => `translate(${d3.arc()
                                .innerRadius(0)
                                .outerRadius(radius).centroid(d)})`)
                            .style("text-anchor", "middle")
                            .style("font-size", "14px");

                    } catch (error) {
                        console.error("JSON parsing error:", error);
                    }
                } else {
                    console.error("No JSON data found in the string.");
                }
            });
        }

        jQuery(document).ready(function ($) {


            const url = window.location.href;
            const parts = url.split('/');
            const id = parts[parts.length - 1] || parts[parts.length - 2];

            jQuery.datepicker.regional['ko'] = {
                closeText: '닫기',
                prevText: '이전',
                nextText: '다음',
                currentText: '오늘',
                monthNames: ['1월', '2월', '3월', '4월', '5월', '6월',
                    '7월', '8월', '9월', '10월', '11월', '12월'],
                monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월',
                    '7월', '8월', '9월', '10월', '11월', '12월'],
                dayNames: ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'],
                dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
                dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
                weekHeader: '주',
                dateFormat: 'yy-mm',
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: true,
                yearSuffix: '년'
            };
            jQuery.datepicker.setDefaults(jQuery.datepicker.regional['ko']);

            // 오늘의 날짜를 가져와서 초기 설정
            var today = new Date();
            var year = today.getFullYear();
            var month = String(today.getMonth() + 1).padStart(2, '0');  // 월은 0부터 시작하므로 +1 필요
            var todayFormatted = year + '-' + month;

            jQuery(".summarymonth").text(month);


            // month-picker에 값이 없을 때 오늘의 년월을 기본값으로 설정
            if (jQuery('#month-picker').val() === "") {
                jQuery('#month-picker').val(todayFormatted);

                diaries_monthlysummary(id, year, month)
            }

            jQuery('#month-picker').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'yy-mm',
                onClose: function (dateText, inst) {
                    var month = jQuery("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var year = jQuery("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    jQuery(this).val(jQuery.datepicker.formatDate('yy-mm', new Date(year, month, 1)));

                    {#console.log(year)#}

                    diaries_monthlysummary(id, year, month)

                }
            });

            // 달력에서 일을 선택하지 못하도록 수정
            jQuery('#month-picker').focus(function () {
                jQuery(".ui-datepicker-calendar").hide();
            });
        })

    </script>


    <div class="container">

        <!-- Greeting -->
        <div class="greeting">
            <p>안녕하세요.<br><span class="childname">다모아</span>, <span class="parentname">다모아</span> 님의 부모님!</p>
        </div>

        <!-- 년월 선택 입력 필드 -->
        <input type="text" id="month-picker">

        <!-- Profile Card -->
        <div class="profile-card">
            <img src="your-child-avatar-url" class="childavatar" alt="Child Avatar">
            <div class="profile-info">
                <h5><span class="childname2">다모아</span> 만 <span class="age"></span>세</h5>
                <p>이번달 용돈 30,000원</p>
            </div>
        </div>

        <!-- Spending Summary -->
        <div class="spending-summary">
            <div class="spending-chart">
                <div id="pie-chart"></div>
                <p><span class="summarymonth"></span>월 <span class="summaryname"></span> 자녀의 소비</p>
            </div>
            <div class="spending-info">
                <p>이번 달 최대 소비: <strong class="maximumconsumption">간식</strong></p>
                <p>총 수입: <span class="totalincome">30000</span>원</p>
                <p>총 지출: <span class="totalexpenses">30000</span>원</p>
                <p>남은 금액: <span class="remainingamount">30000</span>원</p>
            </div>
        </div>

        <!-- Evaluation -->
        <div class="evaluation">
            <h6>평가</h6>
            <p class="evaluationmsg"></p>
        </div>

        <!-- Suggestions -->
        <div class="suggestions" style="display: none">
            <h6>조언</h6>
            <div class="encouragement">
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_head %}
    <style>
        body {
            background-color: #F9F4E2;
            font-family: 'Arial', sans-serif;
        }

        svg {
            width: 100%;
            height: auto;
        }


        .greeting {
            margin: 20px auto;
            text-align: center;
            font-size: 18px;
        {#margin-bottom: 20px;#}
        }

        .profile-card {
            background-color: #F9F4E2;
            border-radius: 15px;
            padding: 15px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .profile-card img {
            width: 50px;
            height: 50px;
            border-radius: 10px;
        }

        .profile-info {

            margin-left: 15px;
        }

        .profile-info h5 {
            margin: 0;
        }

        .profile-info p {
            margin: 5px 0;
            font-size: 14px;
        }


        .spending-summary {
            background-color: #fff;
            border-radius: 15px;
            padding: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        .spending-chart {
            text-align: center;
            margin-bottom: 15px;
        }

        .spending-info {
            text-align: left;
            font-size: 14px;
            margin-bottom: 15px;
        }

        .evaluation, .suggestions {
            background-color: #F9F4E2;
            border-radius: 15px;
            padding: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        .bottom-nav {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #F9F4E2;
            padding: 10px 0;
            display: flex;
            justify-content: space-around;
            border-top: 1px solid #ddd;
        }

        .bottom-nav a {
            text-align: center;
            color: #FFCD00;
        }

        .bottom-nav a img {
            width: 25px;
            height: 25px;
        }
    </style>

{% endblock %}


{% block extra_script %}
    <script type="text/javascript">


        document.addEventListener('DOMContentLoaded', function () {


            const url = window.location.href;
            const parts = url.split('/');
            const id = parts[parts.length - 1] || parts[parts.length - 2];

            const monthPicker = document.getElementById('month-picker');
            const yearMonthValue = monthPicker.value;
            const [year, month] = yearMonthValue.split('-');

            document.querySelector('.summarymonth').textContent = month;
            document.querySelector('.suggestions').style.display = 'block';

            // API에서 부모 프로필 가져오기
            fetch(`http://localhost:8000/api/v1/accounts/children/${id}/`, {
                method: 'GET',
                credentials: 'include',  // 쿠키를 포함하여 요청
                headers: {'Content-Type': 'application/json'}
            }).then(response => response.json()).then(data => {

                if (data.child.encouragement) {
                    document.querySelector('.suggestions').style.display = 'block';
                    document.querySelector('.encouragement').textContent = data.child.encouragement;
                }

                const profilePictureElement = document.querySelector('.childavatar');
                profilePictureElement.src = data.child.images;

                document.querySelector('.summaryname').textContent = data.child.first_name;
                document.querySelector('.childname').textContent = data.child.first_name;
                document.querySelector('.childname2').textContent = data.child.first_name;
                document.querySelector('.parentname').textContent = data.parent.first_name;

                //나이계산기
                const birthDate = data.child.birthday;
                const birthYear = birthDate.split("-")[0];  // '-'를 기준으로 분리 후 첫 번째 요소 선택

                const currentYear = new Date().getFullYear();

                // 나이를 계산
                const age = currentYear - birthYear;

                // 나이 결과
                if (birthYear && birthYear > 1900 && birthYear <= currentYear) {
                    document.querySelector('.age').textContent = age;
                }

            }).catch(error => console.error('Error:', error));

        });

    </script>
{% endblock %}