body {
    background-color: #F9F4E2;
    font-family: 'Arial', sans-serif;
}

svg {
    width: 100%;
    height: auto;
}


.greeting {
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
}

.profile-card {
    background-color: #F9F4E2;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-card img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.profile-info {

    margin-left: 15px;
}

.profile-info h5 {
    margin: 0;
}

.profile-info p {
    margin: 5px 0;
    font-size: 14px;
}


.spending-summary {
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.spending-chart {
    text-align: center;
    margin-bottom: 15px;
}

.spending-info {
    text-align: left;
    font-size: 14px;
    margin-bottom: 15px;
}

.evaluation, .suggestions {
    background-color: #F9F4E2;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #F9F4E2;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ddd;
}

.bottom-nav a {
    text-align: center;
    color: #FFCD00;
}

.bottom-nav a img {
    width: 25px;
    height: 25px;
}

.ui-datepicker-header {
    width: 100%;
}